body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}
footer a {
  color: #666;
  text-decoration: none;
  font-size: 14px;
}

footer a:hover {
  text-decoration: underline;
}
footer {
  width: 100%;
  text-align: center !important;
}









